#section{
    margin: auto;
    min-width: 600px;
    max-width: 1000px;
}

#section .title{
    text-align: center;
}

#section-count{
    margin-top: 80px;
}

#section-sentiment{
    margin-top: 100px;
}

.header{
    font-size: 28px;
    margin-bottom: 50px;
}

.date{
    padding-left: 100px;
}
